<div class="container" style="margin-top:2em;">

    <div class="text-center">
      <span data-gwt-image-resource="MVC"></span>
    </div>
    <h1>The Angular Way</h1>
    <p>
      AngularJS, in a nut shell, is an MVC (Model View Controller) framework
      for the web. It allows the view components to be written in plain old
      HTML. The framework makes it easy to bind the DOM (document object model)
      to the underlying Model (or view-model) as well as DOM events to the 
      Controllers (or presenters). The basic plumbing is handled by the 
      framework under the hood, so that the application developers can focus on
      providing the view, controller, and model components, rather than spending
      time and energy on the basic plumbing.
    </p><p>
      AngularJS expects that the developers using the framework be somewhat
      familiar with JavaScript language. While neither HTML or JavaScript are
      difficult languages to learn, they are, in particular, JavaScript is,
      difficult to become an expert in.
    </p><p>
      This is where GWT Angular steps in. GWT Angular fuses GWT (Google Web
      Toolkit) and AngularJS, so that the views can be written in HTML, while
      the controllers can be written in Java language.
    </p><p>
      Java language is a high structured, self-documenting programming language.
      While it lacks the agility and flexibility of JavaScript, it makes up for
      that by enforcing structure, which makes it a more difficult language to
      write poorly written code. This may not seem like a high praise, but it
      is invaluable for large enterprise projects where the skill levels of the
      developers on the team are often mixed, and the project must exchange
      hands many times over time.
    </p><p>
      GWT is an open source web application development toolkit, originally 
      developed by Google. It comes with a compiler which compiles Java source 
      code into a cross-browser compatible, minified, obfuscated JavaScript. 
      This enables the developers to program web browsers using IDEs and tools 
      commonly available for Java language.
    </p><p>
      With GWT Angular, thanks to AngularJS and GWT, the developers do not have
      to implement any complex DOM manipulation from often fragile JavaScript. 
      There is no need to worry about the JavaScript minifiers breaking the 
      application in production. The verbose and structured nature of Java 
      language makes long term maintenance of large and complex code suitable
      in a enterprise setting.
    </p>
  
</div>
