<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">gwt-angular</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ getSelectedListItem().caption }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li data-ng-repeat="listItem in getListItems()"><a href="#{{ listItem.route }}" data-ng-click="onSelectedItem(listItem)">{{ listItem.caption }}</a></li>
          </ul></li>
      </ul>
    </div>
  </div>
</nav>