<div class="jumbotron">
  <div class="container">
    <h1>Hello, {{ PROJECT_DISPLAY_NAME }}!</h1>
    <h3>
      <i>AngularJS for the Rest of Us</i>
    </h3>
    <p>
      The purpose of {{ PROJECT_NAME }} project is to bring the powerful MVC framework of <a target="http://angularjs.org"
        href="http://angularjs.org">AngularJS</a> to Java programmers. {{ PROJECT_NAME }} provides a <a
        target="http://www.gwtproject.org" href="http://www.gwtproject.org">GWT</a> wrapper around <a target="http://angularjs.org"
        href="http://angularjs.org">AngularJS</a>, so that the controller component of <a target="http://angularjs.org"
        href="http://angularjs.org">AngularJS</a> can be written in Java language, in a manner that is natural to a programmer with
      little background in JavaScript but with more experience in Java. {{ PROJECT_NAME }} aims to bridge the gap in paradigm
      between these two worlds.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="#/documentation">{{ LEARN_MORE }}</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>
        <span class="glyphicon glyphicon-file"></span> {{ EXAMPLES }}
      </h2>
      <p>Live examples with source code is available online. Learn how to write the model in JSON, view in HTML, and controller
        in Java.</p>
      <p>
        <a class="btn btn-default" href="#/examples" role="button">{{ MORE }}</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        <span class="glyphicon glyphicon-download"></span> {{ DOWNLOAD }}
      </h2>
      <p>If you are interested in building an App using {{ PROJECT_NAME }}, you can download the release builds of {{
        PROJECT_NAME }} from github.</p>
      <p>
        <a target="https://github.com/kyoken74/gwt-angular/releases" class="btn btn-default"
          href="https://github.com/kyoken74/gwt-angular/releases" role="button">{{ MORE }}</a>
      </p>
    </div>
    <div class="col-md-4">
      <h2>
        <span class="glyphicon glyphicon-wrench"></span> {{ DEVELOP }}
      </h2>
      <p>{{ PROJECT_NAME }} is an Open Source project. If you are interested in contributing to the project, source code
        repository is available at github.</p>
      <p>
        <a target="https://github.com/kyoken74/gwt-angular" class="btn btn-default" href="https://github.com/kyoken74/gwt-angular"
          role="button">{{ MORE }}</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="margin-top:4em;">
      <img style="margin: 0 auto;" class="img-responsive" alt="Model View Control" src="images/MVC.png"></img>
    </div>
    <div class="col-md-6" style="margin-top:4em;">

      <p>GWT (Google Web Toolkit) is an open source web application development toolkit, developed by Google. It comes with a
        compiler which compiles Java source code into a cross-browser compatible, minified, obfuscated JavaScript. This enables the
        developers to program web browsers using IDEs and tools commonly available for Java language.</p>

      <p>AngularJS is an open source JavaScript MVC framework from Google for creating web applications. It enables the
        developers to create the view in HTML, controllers and models in JavaScript, and provides the mechanism to assemble these
        components efficiently at runtime.</p>

      <p>By combining GWT and AngularJS, we have {{ PROJECT_DISPLAY_NAME }}. {{ PROJECT_DISPLAY_NAME }} allows the developers to
        create their view in HTML, write the controllers in Java, and the models in JSON. The components are compiled by GWT
        compiler, and are assembled at runtime by AngularJS.</p>

      <p>There is no complex DOM manipulation from often fragile JavaScript. There is no need to worry about the JavaScript
        minifiers breaking the application in production. The verbose and structured nature of Java language makes long term
        maintenance of large and complex code suitable in a enterprise setting.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Yuki Asayama 2013 - 2014</p>
  </footer>
</div>
<!-- /container -->