<div data-ng-controller="com.asayama.gwt.angular.site.examples.client.UrlHashParameterExampleResources">
  <p>
    GWT Angular provides a mechanism for controlling the hash parameters in
    the URL. The "hash" refers to the part of URL that begins with '#', and
    the parameters are expressed in the form of key value pair.
  </p><p>
    For example, if you see the URL right now, you should see the hash,
  </p>
  <pre>#/examples?page=urlHashParameter</pre>
  <p>
    The hash param <code>page=urlHashParameter</code> instructs Angular to
    show the current example page.
  </p><p>
    Enter one of the below page name values in the text input, and click 
    "Go." This action will update the <code>page</code> hash param, so that
    you will be taken to that page. If you enter a value that we do not
    recognize, you will be taken to <code>textInput</code> page.
  </p>
  <div class="panel panel-primary">
    <div class="panel-body" data-ng-include="DEMO_URL"
      data-ng-controller="com.asayama.gwt.angular.site.examples.client.UrlHashParameterExampleController"></div>
  </div>
  <p>
    List of valid page names:
  </p>
  <ul>
    <li data-ng-repeat="page in getExamples()">{{ page.name }}</li>
  </ul>

  <h2>View</h2>
  <p>
    The view code is fairly straight forward. An input box wired to a model
    named <code>pageName</code>. The model is passed to the controller via
    <code>onClickGo()</code> method when the "Go" button is clicked.
  </p>
  <pre data-gwt-prettify="view()"></pre>

  <h2>Controller</h2>
  <p>
    The controller demonstrates two things. One is how to read the hash
    parameter, and the other is how to set the hash parameter.
  </p><p>
    See <code>onControllerLoad()</code> method. This method is called when 
    the controller is activated. It uses the <code>RouteParams</code> 
    service to parse the parameter by key, "page".
  </p><p>
    When the user clicks the "Go" button, the <code>onClickGo()</code> 
    method is invoked. This method uses the <code>Location</code> service
    to set the "page" parameter value to the new value passed from the view.
  </p>
  <pre data-gwt-prettify="controller()"></pre>

  <h2>Configuration</h2>
  <p>
    The following modules are required in the gwt.xml.
  </p>
  <pre data-gwt-prettify="config()"></pre>

  <p>
    The following Maven dependencies are required in the pom.xml.
  </p>
  <pre class="prettyprint">
&lt;dependency&gt;
  &lt;groupId&gt;com.asayama.gwt&lt;/groupId&gt;
  &lt;artifactId&gt;gwt-angular-ngRoute&lt;/artifactId&gt;
  &lt;version&gt;{{ PROJECT_VERSION }}&lt;/version&gt;
&lt;/dependency&gt;</pre>

  <p>
    You can also browse the full source code on Github.
  </p><p>
    <a href="{{ GITHUB_SOURCE_URL }}/gwt-angular-site/gwt-angular-examples/UrlHashParameter">
      {{ GITHUB_SOURCE_URL }}/gwt-angular-site/gwt-angular-examples/UrlHashParameter</a>
  </p>

</div>
