/*++
 * Provided: ${packageName}.${className}
 * Generate: ${packageName}.__${className}
 */
package ${packageName};

import com.asayama.gwt.jsni.client.JSClosure;
import com.google.gwt.core.client.GWT;

public class __${className} implements ${className} {

    @Override
    public <${creatorReturnType}> X create(Class<X> klass) {
#foreach(${supportedClassType} in ${classTypeFields.classTypes})
        if (klass.equals(${supportedClassType.qualifiedSourceName}.class)) {
            return GWT.create(${supportedClassType.qualifiedSourceName}.class);
        }
#end
        return null;
    }

}
//--end of ${packageName}.__${className}

