/*++
 * Provided: ${packageName}.${className}
 * Generate: ${packageName}.__${className}
 */
package ${packageName};

import com.asayama.gwt.jsni.client.JSArray;

public class __${className} implements ${className} {

    @Override
    public String[] create(Class<?> klass) {
#foreach(${supportedClassType} in ${classTypeFields.classTypes})
        if (klass.getName().equals("${supportedClassType.qualifiedSourceName}")) {
            return new String[] {
#foreach($field in ${classTypeFields.getInjectables($supportedClassType)})
                "${field.dependency}"#if(${foreach.hasNext}),#end

#end
            };
        }
#end
        return null;
    }

}
//--end of ${packageName}.__${className}

