/*++
 * Template: Controller.vm
 * Provided: ${qualifiedName}
 * Generate: ${generatedQualifiedName}
 */
package ${packageName};

import java.util.*;

import com.google.gwt.core.client.*;
import com.asayama.gwt.core.client.*;
import com.asayama.gwt.angular.client.*;

public class ${generatedSimpleName} extends ${simpleName} implements Constructable {

    public ${generatedSimpleName}() {
    }
    
    // Construct Methods
    
    @Override
    public JSObject construct(Invoker invoker) {
        return __${simpleName}_constructor(this, invoker);
    }

    private native JSObject __${simpleName}_constructor(${simpleName} itself, Invoker invoker) /*-{
        return [
            '$scope',
#foreach($field in $serviceFields)
            '${field.type.qualifiedSourceName}',
#end
            function ($scope#foreach($field in $nativeServiceFields), ${field.name}#end#foreach($field in $serviceFields), ${field.name}#end) {
#foreach($method in $publicMethods)
                $scope.${method.name} = function (#foreach($param in ${method.parameters})#if($foreach.index>0), #end${param.name}#end) {
                    return itself.${method.jsniSignature}(#foreach($param in ${method.parameters})#if($foreach.index>0), #end${param.name}#end);
                };
#end
#foreach($field in $publicFields)
#if($field.isStatic())
                $scope.${field.name} = @${qualifiedName}::${field.name};
#else
                $scope.${field.name} = itself.@${qualifiedName}::${field.name};
#end
#end
#foreach($field in $serviceFields)
                itself.@${qualifiedName}::${field.name} = ${field.name};
#end
                invoker.@com.asayama.gwt.core.client.Invoker::invoke(Lcom/asayama/gwt/core/client/JSArray;)(arguments);
            }
        ];
    }-*/;

}
//--end of ${generatedQualifiedName}

