/*++
 * Template: ${templateFilename}
 * Provided: ${qualifiedName}
 * Generate: ${generatedQualifiedName}
 */
package ${packageName};

import java.util.*;

import com.google.gwt.core.client.*;
import com.asayama.gwt.core.client.*;
import com.asayama.gwt.angular.client.*;

public class ${generatedSimpleName}<${parameterClassType}> implements ${qualifiedName}<T> {

    protected ${generatedSimpleName}() {
    }
    
    @Override
    public T create(Class<? extends T> klass) {
        String name = klass.getName();
        GWT.log("creating " + name);
#foreach($returnClassType in ${returnClassTypes})
        if (klass.equals(${returnClassType.qualifiedSourceName}.class)) {
            return GWT.create(${returnClassType.qualifiedSourceName}.class);
        }
#end
        throw new UnsupportedOperationException(klass.getName() + " is not supported by ${qualifiedName}");
    }
    
    @Override
    public JSClosure injector(Class<? extends T> klass, T object) {
#foreach($returnClassType in ${returnClassTypes})
        if (klass.equals(${returnClassType.qualifiedSourceName}.class)) {
            return __${generatedSimpleName}_injector_${foreach.index}(object);
        }
#end
        return null;
    }

#foreach($returnClassType in ${returnClassTypes})
#set($fields = $returnClassType.fields)
#set($isFirst = true)
    private native JSClosure __${generatedSimpleName}_injector_${foreach.index}(T object) /*-{
        return function (#foreach($field in $fields)#if($JClassTypeUtils.supports($field.type, $Injectable))#if($isFirst)#set($isFirst = false)#else, #end${field.name}#end#end) {
#foreach($field in $fields)
#if($JClassTypeUtils.supports($field.type, $Injectable))
            object.@${returnClassType.qualifiedSourceName}::${field.name} = ${field.name};
#end
#end
        };
    }-*/;
#end

}
//--end of ${generatedQualifiedName}

