<div data-ng-controller="com.asayama.gwt.angular.examples.client.ReverseFilterExampleController">
  <div class="row">
    <div class="col-md-12">
      <p>
        GWT Angular allows the users to write the <i>filter</i> code in Java.
        In this example, we write a <code>ReverseFilter</code>, which takes a
        string, and simply reverses the order so that the entire string appears
        backwards. It is important to note that this filter does not modify the
        underlying model. The original string remains "as is" while the filter
        only formats the string on the screen.
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>{{ getCaption() }} <small>caption spelled forward</small></h2>
          <h2>{{ getCaption() | reverse }} <small>caption spelled backward</small></h2>
        </div>
      </div>
    </div>
  </div>
</div>