<div class="container">
  <div class="jumbotron" style="margin-top: 4em;">
    <h1>{{ getLatestTag().name }}</h1>
    <button type="button" class="btn btn-default btn-lg">
      <a href="{{ getLatestTag().zipball_url }}"><span class="glyphicon glyphicon-download"></span> ZIP</a>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <a href="{{ getLatestTag().tarball_url }}"><span class="glyphicon glyphicon-download"></span> Tar</a>
    </button>
    <button type="button" class="btn btn-default btn-lg">
      <a href="{{ getLatestTag().commit.url }}"><span class="glyphicon glyphicon-download"></span> Code</a>
    </button>
  </div>
</div>
<div class="container" data-ng-repeat="previousTag in getPreviousTags()">
  <div class="container">
    <div class="col-md-12">
      <p>
        {{ previousTag.name }} <a href="{{ previousTag.zipball_url }}">ZIP</a> <a href="{{ previousTag.tarball_url }}">Tar</a>
      </p>
    </div>
  </div>
</div>
