<div class="container">
  <div class="row">
    <div class="col-md-9" style="margin-top:2em;">
      <h1>{{ getSelectedPage().title }}</h1>
      <div data-ng-include="getSelectedPage().filename"></div>
    </div>
    <div class="col-md-3" style="margin-top:4em;">
      <div class="list-group">
        <a class="list-group-item {{ getStylePageActive(exampleKey) }}"
          data-ng-repeat="exampleKey in getExampleKeys()" 
          data-ng-click="onClickPage(exampleKey)">{{ getExample(exampleKey).title }}</a>
      </div>
    </div>
  </div>
</div>
