package ${packageName};

import java.util.*;

import com.google.gwt.core.client.*;
import com.asayama.gwt.core.client.*;
import com.asayama.gwt.angular.client.*;

public class ${generatedSimpleName} extends ${simpleName} implements Controller.Constructor {

	public ${generatedSimpleName}() {
	}
	
	// Constructor Methods
	
	@Override
	public $ constructor(Invoker invoker) {
		return __${simpleName}_constructor(this, invoker);
	}

	private native $ __${simpleName}_constructor(${simpleName} itself, Invoker invoker) /*-{
		return [
			'$scope',
#foreach($field in $serviceFields)
			'${field.type.qualifiedSourceName}',
#end
			function ($scope#foreach($field in $serviceFields), ${field.name}#end) {
#foreach($method in $exportMethods)
				$scope.${method.name} = function (#foreach($param in ${method.parameters})#if($foreach.index>0), #end${param.name}#end) {
					return itself.${method.jsniSignature}(#foreach($param in ${method.parameters})#if($foreach.index>0), #end${param.name}?${param.name}:${param.name}==0?0:null#end);
				};
#end
#foreach($field in $serviceFields)
				itself.@${generatedQualifiedName}::__${simpleName}_onInjection_${field.name}()();
#end
				invoker.@com.asayama.gwt.core.client.Invoker::invoke()();
			}
		];
	}-*/;

	// Controller Extensions

#foreach($field in $serviceFields)
	private void __${simpleName}_onInjection_${field.name}() {
		String m = "calling ${qualifiedName}.onInjection(${field.type.qualifiedSourceName})";
		GWT.log(m);
		try {
			super.onInjection(${field.name});
		} catch (Exception e) {
			GWT.log("Exception while " + m, e);
		}
	}
#end

	// TODO Can I move this to constructor method or somewhere else so that it is not exposed via Controller.Constructor?
	// One problem is that it needs a reference to Module invoking it. Maybe we call it from generated Module code?
	@Override
	public <T extends Module> void _injectServices(T module) {
		String m = "";
#foreach($field in $serviceFields)
		try {
			m = "injecting ${field.type.qualifiedSourceName} into ${simpleName}.${field.name}";
			${field.type.qualifiedSourceName} service = GWT.create(${field.type.qualifiedSourceName}.class);
			${field.name} = module.factory("${field.type.qualifiedSourceName}", service);
		} catch (Exception e) {
			GWT.log("Exception while " + m, e);
		}
#end
	}

}