/*++
 * Template: Module.vm
 * Provided: ${qualifiedName}
 * Generate: ${generatedQualifiedName}
 */
package ${packageName};

import java.util.*;

import com.google.gwt.core.client.*;
import com.asayama.gwt.angular.client.*;

public class ${generatedSimpleName} extends ${qualifiedName} {

    public ${generatedSimpleName}() {
        super();
        String m = "";
        try {
            m = "registering ${qualifiedName} with Angular";
            Angular.module("${qualifiedName}", this);
#foreach($field in $providerFields)
            m = "injecting ${field.type.qualifiedSourceName} into ${simpleName}.${field.name}";
            ${field.name} = config(${field.type.qualifiedSourceName}.class);
#end
#foreach($field in $serviceFields)
            m = "injecting ${field.type.qualifiedSourceName} into ${simpleName}.${field.name}";
            ${field.name} = factory(${field.type.qualifiedSourceName}.class);
#end
#foreach($field in $controllerFields)
            m = "injecting ${field.type.qualifiedSourceName} into ${simpleName}.${field.name}";
            ${field.name} = controller(${field.type.qualifiedSourceName}.class);
#end
        } catch (Exception e) {
            GWT.log("Exception while " + m, e);
        }
    }
    
}
//--end of ${generatedQualifiedName}

