<div data-ng-controller="com.asayama.gwt.angular.examples.client.HttpClientExample">
  <div class="row">
    <div class="col-md-12">
      <p>
        Use of HttpClient is demonstrated in this example. Note that the 
        HttpClient used in this example is based on GWT's <code>RequestBuilder
        </code> which is adapted to AngularJS framework, opposed to AngularJS's
        <code>$http</code> service object.
      </p><p>
        The HTTP GET request is sent asynchronously without blocking the user
        interaction. The response is a JSON object, (to be more precise, in this
        example, an array of JSON objects), which is parsed and loaded into an
        overlay type called <code>Customers</code>. In the HTML view, we use
        <code>data-ng-repeat</code> directive to iterate over the JSON objects
        in this array.
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <ul data-ng-repeat="customer in getCustomers()">
            <li>{{ customer.name }} of {{ customer.city }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>