<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColorProfile</key>
	<dict>
		<key>cmykDigest</key>
		<data>
		JTUvL7/uOf5kyUO2+wyMTg==
		</data>
		<key>cmykName</key>
		<string>Generic CMYK Profile</string>
		<key>grayDigest</key>
		<data>
		R1/9J+Q8qUvUv5l5kAduCg==
		</data>
		<key>grayName</key>
		<string>Generic Gray Profile</string>
		<key>rgbDigest</key>
		<data>
		DSWLrTa2TOv7nmgmw+1QNw==
		</data>
		<key>rgbName</key>
		<string>Generic RGB Profile</string>
	</dict>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2014-03-05 12:47:17 +0000</string>
	<key>Creator</key>
	<string>Yuki Asayama</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{243.54054054054058, 326.5}, {162, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.25</string>
					<key>g</key>
					<string>0.25</string>
					<key>r</key>
					<string>0.25</string>
				</dict>
				<key>Font</key>
				<string>Arial-BoldMT</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>10</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwlGUkFNRVdPUkuGhAJpSQEJkoSEhAxOU0Rp
				Y3Rpb25hcnkAlIQBaQSShJaWEE5TUGFyYWdyYXBoU3R5
				bGWGkoSEhBBOU1BhcmFncmFwaFN0eWxlAJSEBENDQFMA
				AISEhAdOU0FycmF5AJSZDJKEhIQJTlNUZXh0VGFiAJSE
				AkNmAByGkoSfngA4hpKEn54AVIaShJ+eAHCGkoSfngCB
				jACGkoSfngCBqACGkoSfngCBxACGkoSfngCB4ACGkoSf
				ngCB/ACGkoSfngCBGAGGkoSfngCBNAGGkoSfngCBUAGG
				hgCGkoSWlgZOU0tlcm6GkoSEhAhOU051bWJlcgCEhAdO
				U1ZhbHVlAJSEASqEhAFkogCGkoSWlgZOU0ZvbnSGkoSE
				hAZOU0ZvbnQelJkkhAVbMzZjXQYAAAAaAAAA//5BAHIA
				aQBhAGwALQBCAG8AbABkAE0AVAAAAIQBZhiEAWMApgGm
				AKYAhpKElpYHTlNDb2xvcoaShISEB05TQ29sb3IAlKYD
				hAJmZoMAAIA+AYaGhg==
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red64\green64\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs48 \cf2 \expnd0\expndtw0\kerning0
FRAMEWORK}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{447, 434.5}, {87, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.25</string>
					<key>g</key>
					<string>0.25</string>
					<key>r</key>
					<string>0.25</string>
				</dict>
				<key>Font</key>
				<string>Arial-BoldMT</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwVNT0RFTIaEAmlJAQWShISEDE5TRGljdGlv
				bmFyeQCUhAFpBJKElpYQTlNQYXJhZ3JhcGhTdHlsZYaS
				hISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwAAhISE
				B05TQXJyYXkAlJkMkoSEhAlOU1RleHRUYWIAlIQCQ2YA
				HIaShJ+eADiGkoSfngBUhpKEn54AcIaShJ+eAIGMAIaS
				hJ+eAIGoAIaShJ+eAIHEAIaShJ+eAIHgAIaShJ+eAIH8
				AIaShJ+eAIEYAYaShJ+eAIE0AYaShJ+eAIFQAYaGAIaS
				hJaWBk5TS2VyboaShISECE5TTnVtYmVyAISEB05TVmFs
				dWUAlIQBKoSEAWSiAIaShJaWBk5TRm9udIaShISEBk5T
				Rm9udB6UmSSEBVszNmNdBgAAABoAAAD//kEAcgBpAGEA
				bAAtAEIAbwBsAGQATQBUAAAAhAFmGIQBYwCmAaYApgCG
				koSWlgdOU0NvbG9yhpKEhIQHTlNDb2xvcgCUpgOEAmZm
				gwAAgD4BhoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red64\green64\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs48 \cf2 \expnd0\expndtw0\kerning0
MODEL}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{107.5, 434.5}, {119, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.25</string>
					<key>g</key>
					<string>0.25</string>
					<key>r</key>
					<string>0.25</string>
				</dict>
				<key>Font</key>
				<string>Arial-BoldMT</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwdDT05UUk9MhoQCaUkBB5KEhIQMTlNEaWN0
				aW9uYXJ5AJSEAWkEkoSWlhBOU1BhcmFncmFwaFN0eWxl
				hpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARDQ0BTAACE
				hIQHTlNBcnJheQCUmQyShISECU5TVGV4dFRhYgCUhAJD
				ZgAchpKEn54AOIaShJ+eAFSGkoSfngBwhpKEn54AgYwA
				hpKEn54AgagAhpKEn54AgcQAhpKEn54AgeAAhpKEn54A
				gfwAhpKEn54AgRgBhpKEn54AgTQBhpKEn54AgVABhoYA
				hpKElpYGTlNLZXJuhpKEhIQITlNOdW1iZXIAhIQHTlNW
				YWx1ZQCUhAEqhIQBZKIAhpKElpYGTlNGb250hpKEhIQG
				TlNGb250HpSZJIQFWzM2Y10GAAAAGgAAAP/+QQByAGkA
				YQBsAC0AQgBvAGwAZABNAFQAAACEAWYYhAFjAKYBpgCm
				AIaShJaWB05TQ29sb3KGkoSEhAdOU0NvbG9yAJSmA4QC
				ZmaDAACAPgGGhoY=
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red64\green64\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs48 \cf2 \expnd0\expndtw0\kerning0
CONTROL}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{293.54054054054058, 173.5}, {62, 28}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.25</string>
					<key>g</key>
					<string>0.25</string>
					<key>r</key>
					<string>0.25</string>
				</dict>
				<key>Font</key>
				<string>Arial-BoldMT</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwRWSUVXhoQCaUkBBJKEhIQMTlNEaWN0aW9u
				YXJ5AJSEAWkFkoSWlgZOU0ZvbnSGkoSEhAZOU0ZvbnQe
				lJkkhAVbMzZjXQYAAAAaAAAA//5BAHIAaQBhAGwALQBC
				AG8AbABkAE0AVAAAAIQBZhiEAWMAnQGdAJ0AhpKElpYG
				TlNLZXJuhpKEhIQITlNOdW1iZXIAhIQHTlNWYWx1ZQCU
				hAEqhIQBZKEAhpKElpYOTlNPcmlnaW5hbEZvbnSGkoSb
				mRiEBVsyNGNdBgAAABAAAAD//kEAcgBpAGEAbABNAFQA
				nAqdAJ0BnQCdAIaShJaWEE5TUGFyYWdyYXBoU3R5bGWG
				koSEhBdOU011dGFibGVQYXJhZ3JhcGhTdHlsZQCEhBBO
				U1BhcmFncmFwaFN0eWxlAJSEBENDQFMAAISEhAdOU0Fy
				cmF5AJSZDJKEhIQJTlNUZXh0VGFiAJSEAkNmAByGkoSq
				qAA4hpKEqqgAVIaShKqoAHCGkoSqqACBjACGkoSqqACB
				qACGkoSqqACBxACGkoSqqACB4ACGkoSqqACB/ACGkoSq
				qACBGAGGkoSqqACBNAGGkoSqqACBUAGGhgCGkoSWlgdO
				U0NvbG9yhpKEhIQHTlNDb2xvcgCUnQOEAmZmgwAAgD4B
				hoaG
				</data>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 ArialMT;}
{\colortbl;\red255\green255\blue255;\red64\green64\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\b\fs48 \cf2 \expnd0\expndtw0\kerning0
VIEW}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{450, 350.5}, {81, 81}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{276.04054054054058, 74}, {97, 97}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{280.08108108108109, 230}, {88.918918918918919, 94}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{117, 341}, {100, 100}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict>
		<key>ShowsGrid</key>
		<string>YES</string>
		<key>SnapsToGrid</key>
		<string>YES</string>
	</dict>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2014-03-05 13:35:37 +0000</string>
	<key>Modifier</key>
	<string>Yuki Asayama</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{7, 73}, {890, 705}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 3}, {755, 550}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
