<!DOCTYPE html>
<html>
<head>
<title>GWT Angular Tutorial</title>
</head>
<body>

  <h1>GWT Angular Tutorial</h1>
  <div data-ng-controller="com.asayama.gwt.angular.tutorial.client.SampleController">

    <label for="quickEntryInput">Quick Entry</label>
    <input type="text" id="quickEntryInput" style="width:400px;" 
      data-ng-model="quickEntryInputValue"
      data-ng-keypress="quickEntryInputValue = onKeyPressQuickEntry($event)"
      data-ng-change="onChangeQuickEntry(quickEntryInputValue)">
    
    <div data-ng-switch="getEntries().length">
      <h2 data-ng-switch-when="0">My List is empty</h2>
      <h2 data-ng-switch-when="1">
        My List has {{ getEntries().length }} item
        <small><a href="#" data-ng-click="onClickClear()">clear</a></small>
      </h2>
      <h2 data-ng-switch-default>
        My List has {{ getEntries().length }} items
        <small><a href="#" data-ng-click="onClickClear()">clear</a></small>
      </h2>
    </div>

    <p data-ng-repeat="entry in getEntries() | orderBy:'caption'">{{ entry.caption }}</p>
  </div>
  
  <!-- Scripts -->
  <script src="sample.nocache.js"></script>
</body>
</html>
